body {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* main {
    padding: 10px;
} */

.navbar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#nav_logo {
    width:600px;
}
.nav_logo {
    height:60px;
}

.header_link {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    margin: 10px;
}

.header_link:hover {
    background-color: #6f7079;
}

.main_body {
    background-color: #a1a1a1;
    padding-bottom: 30px;
}

.custom-select {
  width: 150px;
  padding: 4px 0 4px 10px;
  font-size: 16px;
  color: #fff;
  background: grey;
  border: none;
  /* border-radius: 4px; */
  cursor: pointer;
}


#blog_content {
    text-align: center;
}

.home_body {
    display: flex;
    background-color: #675d69;
    justify-content: space-between;
}

.home_container {

    background-color: #a1a1a1;
}

.entry_item_list {
    /* text-align: center; */
    padding: 10px;
    width: 100%;
    background-color: #a6a6a6;
    margin: 10px;
}

.blog_list {
}

.entry_point {
    padding: 5px;
}

.entry_header {
    text-align: left;
    padding:10px;
    background-color: rgb(133, 133, 133);
    font-size: 30px;
    /* color: #fff; */
}


.entry_item {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

.entry_item:hover {
    background-color: rgb(104, 104, 104);
}

.home_image {
    padding: 10px;
}


.image_cont {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.entry_banner {
    width: 100%;
    /* text-align: left; */
    background-color: rgb(55, 54, 54);
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.entry_title {
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.subheader {
    background-color: #333333;
    padding: 10px;
}

.journal_entry {
    text-align: center;
    width: 900px;
    background-color: #868686;
    padding:10px;
}

.journal_image {
    border:#fff 5px solid;
    width: 400px;
    margin: 5px;
}

.landscape_image {
    border:#fff 5px solid;
    width: 50%;
    margin: 5px;
}

.carousel {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    background-color: #444444;
}


/* Light box styles */

  .zoomable {
    cursor: pointer;
    text-align: center;
    border:#fff 5px solid;
    width: 400px;
    margin: 5px;
  }

  #lightbox {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.85);
    z-index: 9999;
    cursor: zoom-out;
  }

  #lightbox[hidden] {
    display: none;
  }

  #lightbox-img-container {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #lightbox-img-container #lightbox-image {
    max-height: 95%;
    max-width:90%;
    cursor: auto;
  }


